<app-base-modal-page-layout [title]="movie()?.title!" backRouterUrl="/tabs/home">
  <div class="flex flex-col gap-8">
    <app-movie-attributes [movie]="movie()!"></app-movie-attributes>
    <app-movie-trailer [movie]="movie()!"></app-movie-trailer>
    <app-movie-synopsis [movie]="movie()!"></app-movie-synopsis>
    <app-movie-casts [movie]="movie()!"></app-movie-casts>
    <app-movie-photos [movie]="movie()!"></app-movie-photos>
    <app-movie-videos [movie]="movie()!"></app-movie-videos>
    <app-movie-ratings [movie]="movie()!"></app-movie-ratings>
  </div>
</app-base-modal-page-layout>
