<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>All Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid grid-cols-2 gap-4 p-4">
    @for (movie of movies(); track movie.id) {
      <app-movie-item
        [movie]="movie"
        [routerLink]="['../movie-details', movie.id]">
        <ion-button action-btn shape="round" class="w-full">
          Details
        </ion-button>
      </app-movie-item>
    }
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more movies...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
