<div class="flex flex-row justify-between p-4" (click)="openCityModal()">
  <div class="flex flex-row items-center gap-4">
    <img src="https://placehold.co/64x64" alt="avatar" class="rounded-full">
    <div class="flex flex-col">
      <span class="tracking-tighter text-slate-400">Your location</span>
      <div class="flex flex-row items-center gap-2">
        <span class="text-base font-semibold">{{ this.cityService.selectedCity()?.name || "Loading" }}</span>
        <ion-icon name="chevron-down-outline" color="primary"></ion-icon>
      </div>
    </div>
  </div>

  <ion-button fill="clear" routerLink="/tabs/movies">
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-button>
</div>
